<div class="card-deck">
  <div class="card">
    <div class="card-header">OUPLC Blues Standard</div>
    <div class="card-body">
      <form #blues="ngForm">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Gender</span>
            </div>
            <select
              ngModel
              name="gender"
              (change)="calcBlue(blues)"
            >
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Bodyweight</span>
            </div>
            <input
              class="form-control"
              type="number"
              ngModel
              name="weight"
              (input)="calcBlue(blues)"
            />
          </div>
        </div>
        <div class="custom-control custom-radio">
          <input
            class="custom-control-input"
            type="radio"
            id="SBD"
            name="type"
            value="sbd"
            (change)="onSelect($event.target.value)"
            checked=true
          />
          <label class="custom-control-label" for="SBD">SBD</label>
        </div>
        <div class="custom-control custom-radio">
          <input
            class="custom-control-input"
            type="radio"
            id="Total"
            name="type"
            value="total"
            (change)="onSelect($event.target.value)"
          />
          <label class="custom-control-label" for="Total">Total</label>
        </div>
        <div class="form-group" *ngIf="!totalSelected">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">SBD</span>
            </div>
            <div class="form-row">
              <div class="col">
                <input
                  class="form-control"
                  type="number"
                  name="squat"
                  ngModel
                  placeholder="Squat"
                  (input)="calcBlue(blues)"
                />
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="number"
                  name="bench"
                  ngModel
                  placeholder="Bench"
                  (input)="calcBlue(blues)"
                />
              </div>
              <div class="col">
                <input
                  class="form-control"
                  type="number"
                  name="deadlift"
                  ngModel
                  placeholder="Deadlift"
                  (input)="calcBlue(blues)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="totalSelected">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Total</span>
            </div>
            <input
              class="form-control"
              type="number"
              [ngModel]="userTotal"
              name="total"
              (input)="calcBlue(blues)"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">Blue achieved: {{blueAchieved}}</div>
  </div>
  <div class="card">
    <div class="card-header">Goal toggle</div>
    <div class="card-body">
      <form #goalBlues="ngForm">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Gender</span>
            </div>
            <select
              ngModel
              name="gender"
              (change)="calcGoal(goalBlues)"
            >
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Bodyweight</span>
            </div>
            <input
              class="form-control"
              type="number"
              ngModel
              name="weight"
              (input)="calcGoal(goalBlues)"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Goal</span>
            </div>
            <select
              ngModel
              name="goalBlue"
              (change)="calcGoal(goalBlues)"
            >
              <option value="full">Full Blue</option>
              <option value="half">Half Blue</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">Goal total: {{ goalTotal }}</div>
  </div>
</div>
