<div class="card">
  <div class="card-header">OUPLC Blues Standard</div>
  <div class="card-body">
    <form #blues="ngForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Gender</span>
          </div>
          <select
            ngModel
            name="gender"
            required
            (input)="calcBlue(blues)"
          >
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Bodyweight</span>
          </div>
          <input
            type="number"
            ngModel
            name="weight"
            required
            (input)="calcBlue(blues)"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Total</span>
          </div>
          <input
            type="number"
            ngModel
            name="total"
            required
            (input)="calcBlue(blues)"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">Blue achieved: {{blueAchieved}}</div>
</div>
